a{
    padding: 20px;
    border: black;
    border-radius: 10px 0px 10px;
    text-decoration: none;
}


a:link{
    background-color: khaki;
    color: red;
    text-decoration: none;
}

a:visited{
    background-color: blueviolet;
    text-decoration: none;
    color: wheat;
}

a:hover{
    background-color: white;
    color: orange;
    border:black 10px
}

a:active {
    background-color: black;
    text-decoration: none;
    color: yellow;
}





input[type="text"]:focus{
    background-color: aquamarine;
}
#email:focus{
    border: double green 5px;
}